@charset "UTF-8";


/* :root
{
    
} */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background: linear-gradient(to bottom, rgb(31, 31, 31), black);
    /* display: grid; */
    /* grid-template-rows: 200px 1fr 150px; Aqui é onde muda o tamanho do Header, Main e do Footer */
    min-height: 100vh;
    width: 100vw;
}

header
{
    height: 200px;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px;
    transition: 1s;
    position: fixed;
    z-index: 10;
    overflow-y: hidden;
    top: 0;
    background: rgb(31, 31, 31);
}

header.sticky
{
    height: 100px;
    transition:  height 1s;
    transition-delay: 1s;

}

header .img
{
    width: 35%;
    height: 80px;
    position: absolute;
    margin: auto;
    top: 100px;
    left: 50px;
    transition: margin 1s, left 1s, top 1s;
    transition-delay:  0s, 1s, 0s; 
}

header.sticky .img
{
  
    top: 20px;
    left: 20px;
    transition:  left 1s, margin 1s,  top 1s;
    transition-delay: 0s, 0s, 1s;
}

header .img img
{
    width: 100%;
    transition: 1s;
}


header nav
{
    display: flex;
    width: 75%;
    height: 80px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    background: linear-gradient(to bottom, #111, rgb(0, 82, 82));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 1s;
}

header.sticky nav
{
    height: 100px;
    width: 60%;
    margin: 0 0 0 auto;
    right: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 1s;
}

header nav ul
{
    display: flex;
    margin: auto;
    transition: 1s;
}

header nav ul li
{
    margin: 20px;
    list-style: none;
    display: flex;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

header nav ul li a 
{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: 1s;
}

header nav ul li a .title
{
    visibility: hidden;
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    animation: animate1 1s ease-in-out linear;
    top: -50px;
    
}


header nav ul li a .icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.5s;
}

header nav ul li:hover a .title
{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

main
{
    min-height: 100vh; 
    position: relative;
    display: block;
}

main section
{
    min-height: 100vh;
    position: relative;
    display: block;
}

footer
{
    min-height: 150px;
    position: relative;
    bottom: 0;
    color: white;
}