@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');

:root
{
    --silk_font: 'Silkscreen', cursive;    
    --Exo2: 'Exo 2', sans-serif;
    --duration: 5s;
    --text-color: rgba(255, 255, 255, 0.3);
    --bgr-color: #333;
} 

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    width: 0;
}

body
{
    background: linear-gradient(to bottom, rgb(31, 31, 31), black);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 1fr 200px;
}
 
/*Aqui é onde tem o estilo do cabeçalho e da barra de navegação, como tambem tem as suas animações*/

header
{
    height: 200px;
 
    width: 100vw;
    display: grid;
    grid-template-rows: 100px;
    transition: 1s;
    position: fixed;
    z-index: 10;
    overflow-y: hidden;
    top: 0;
    background: rgb(31, 31, 31);
}

header.sticky
{
    height: 100px;
    transition:  height 1s;
    transition-delay: 1s; 
}

header .img
{
    width: 240px;
    height: 68px;
    position: absolute;
    margin: auto;
    top: 100px;
    left: 7.5%;
    transition: margin 1s, left 1s, top 1s;
    transition-delay:  0s, 1s, 0s; 
}

header.sticky .img
{
    top: 20px;
    left: 20px;
    /* transition:  left 1s, margin 1s,  top 1s;
    transition-delay: 0s, 0s, 1s; */
}

header .img img
{
    width: 100%;
    transition: 1s;
    height: 68px;
}


header nav
{
    display: flex;
    width: 75%;
    height: 100px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    background: linear-gradient(to bottom, #111, rgb(0, 82, 82));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 1s;
    z-index: 10;
}

header.sticky nav
{
    width: 80%;
    margin: 0 0 0 auto;
    right: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 1s;
    z-index: 10;
}

header nav ul
{
    display: flex;
    margin: auto;
    transition: 1s;
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 10;
}

header nav ul li
{
    margin: 10px 60px;
    list-style: none;
    display: flex;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 10;
}

header nav ul li a 
{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: 1s;
}

header nav ul li a .title
{
    visibility: hidden;
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    animation: animate1 1s ease-in-out linear;
    top: 0;
    text-shadow: 5px 5px 10px white;
    font-family: var(--silk_font);
}


header nav ul li a .icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.5s;
    font-size: 1.5em;
    text-shadow: 1px 1px 50px white;
}

header nav ul li:hover a .title
{
    visibility: visible;
    opacity: 1;
    transition: 1s;
    top: -60px;
    font-family: var(--silk_font);
    font-weight: 400;
}


/* Aba que desce das opções do HOME */

header nav ul li .options 
{
    display: block;
    background: #333;
    width: 40px;
    height: 40px;
    position: fixed;
    opacity: 0;
    transition: height 0.5s, width 0.5s, top 0.5s, opacity 0.5s, display 0.5s;
    transition-delay: 0s, 1s, 0, 0;    
    top: 0;
    border-radius: 20px;
}

header nav ul li .options.active
{
    opacity: 1;
    top: 90px;
    width: 600px;
    height: 250px;
    display: block;
    z-index: 10;
}

header nav ul li .options ul
{
    height: 100%;
    width: 0%;
    left: 0px;
    top: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

header nav ul li .options.active ul
{
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

header nav ul li .options.active ul li
{
    color: white;
    position: relative;
    top: 10px;
    width: 100%;    
}

header nav ul li .options.active ul li a
{
    font-family: var(--silk_font);
}
/* Header com as opções que desceram */

/* header.opdown,
header.sticky.opdown
{
    height: 400px; 
    transition: height 1s;
    transition-delay: 0s;   
} */

/* Estilos do Subtitulo*/

header h2
{
    color: white;
    position: absolute;
    right: 600px;
    top: 120px;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-family: var(--Exo2);
    color: rgb(0, 177, 177);
    transition: 1s;
}

header h2 .bit
{
    font-family: var(--silk_font);
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 4px;
    color: white;
}



header h2 .future
{
    color: gold;
    font-weight: 400;
    font-size: 1.3em;
    font-weight: 900;
    columns: 2;
}
header h2 .future:nth-child(3)
{
    position: relative;
    
}

header.sticky h2
{
    top: 0px;   
}
/* Começo do Estilo do MAIN */

main
{
    min-height: 100vh; 
    position: relative;
    display: block;
    /* scroll-snap-type: y mandatory; */
    /* overflow: auto; */
    z-index: -5;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    top: 200px;
}

/*Estilo Geral das seções*/
main section
{
    min-height: 100vh;
    position: relative;
    display: block;
    /* scroll-snap-align: start; */
    /* background-blend-mode: multiply; */
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    border-radius: 10px;
    margin: 10px 0;
}

main section:nth-child(1)
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section article
{
    min-height: 100vh;
    width: 95%;
    filter: blur(1);
    display: block;
    
}

main section article h2
{
    margin: 40px;
    font-weight: 900;
    font-family: var(--silk_font);
}

main section article:nth-child(1)
{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

main section article:nth-child(4)
{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


main section article p
{
    position: relative;
    margin: 20px;
    padding: 10px;
    text-align: justify;
    letter-spacing: 2px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    text-indent: 50px;
    line-height: 20px;
}

span.impor
{
    font-weight: 900;
}

main section article .container
{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

main section article .container img
{
    position: relative;
    /* right: -90px; */
    width: 430px;
}

main section article .container p
{
    width: 50%;
    height: 100%;
}


main section#sobre
{
    background: red;
}

main section#contatos
{
    background: blue;
}

/*Estilo do Footer*/
footer
{
    min-height: 50px;
    position: relative;
    color: white;
    background: #222;
    bottom: 0;
    margin-top: 200px;
}

