@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');

:root
{
    --silk_font: 'Silkscreen', cursive;    
    --Exo2: 'Exo 2', sans-serif;
    --duration: 5s;
    --text-color: rgba(255, 255, 255, 0.3);
    --bgr-color: #333;
    --poppins: 'Poppins', cursive;
} 

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    width: 0;
}

body
{
    background: linear-gradient(to bottom, rgb(31, 31, 31), black);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 1fr 200px;
    font-family: Arial, Helvetica, sans-serif;
}
 
/*Aqui é onde tem o estilo do cabeçalho e da barra de navegação, como tambem tem as suas animações*/

header
{
    height: 200px;
 
    width: 100vw;
    display: grid;
    grid-template-rows: 100px;
    transition: 1s;
    position: fixed;
    z-index: 10;
    overflow-y: hidden;
    top: 0;
    background: rgb(31, 31, 31);
}

header.sticky
{
    height: 100px;
    transition:  height 1s;
    transition-delay: 1s; 
}

header .img
{
    width: 240px;
    height: 68px;
    position: absolute;
    margin: auto;
    top: 100px;
    left: 7.5%;
    transition: margin 1s, left 1s, top 1s;
    transition-delay:  0s, 1s, 0s; 
}

header.sticky .img
{
    top: 20px;
    left: 20px;
    transition:  left 1s, margin 1s,  top 1s;
    transition-delay: 0s, 0s, 1s;
}

header .img img
{
    width: 100%;
    transition: 1s;
    height: 68px;
}


header nav
{
    display: flex;
    width: 75%;
    height: 100px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    /* background: linear-gradient(to bottom, #111, rgb(0, 82, 82)); */
    background: #333;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 1s;
    z-index: 10;
}

header.sticky nav
{
    width: 80%;
    margin: 0 0 0 auto;
    right: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 1s;
    z-index: 10;
    background: rgba(31, 31, 31, 0);
}

header nav ul
{
    display: flex;
    margin: auto;
    transition: 1s;
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 10;
}

header nav ul li
{
    margin: 10px 60px;
    list-style: none;
    display: flex;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 10;
}

header nav ul li a 
{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: 1s;
}

header nav ul li a
{
    position: relative;
    padding: 30px 30px;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
    -webkit-box-reflect: below 30px linear-gradient(transparent, #0002);
}

header nav ul li a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s;
}

header nav ul li a::after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s;

}

/* header nav ul li a:hover
{
    background: #21ebff;
    color: black;
    box-shadow: 0 0 10px #21ebff,
                0 0 20px #21ebff,
                0 0 40px #21ebff,
                0 0 50px #21ebff;
    transition-delay: 1s;
} */

header nav ul li a:hover::before
{
    width: 94%;
    height: 97%;
}

header nav ul li a:hover::after
{
    width: 94%;
    height: 97%;
}

header nav ul li a .title
{
    visibility: hidden;
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    animation: animate1 1s ease-in-out linear;
    top: 0;
    text-shadow: 5px 5px 10px white;
    font-family: var(--silk_font);
}


header nav ul li a .icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.5s;
    font-size: 1.5em;
    text-shadow: 1px 1px 50px white;
}

header nav ul li:hover a .title
{
    visibility: visible;
    opacity: 1;
    transition: 1s;
    top: -60px;
    font-family: var(--silk_font);
    font-weight: 400;
}


/* Aba que desce das opções do HOME */

header nav ul li .options 
{
    display: block;
    background: #333;
    width: 40px;
    height: 40px;
    position: fixed;
    opacity: 0;
    transition: height 0.5s, width 0.5s, top 0.5s, opacity 0.5s, display 0.5s;
    transition-delay: 0s, 1s, 0, 0;    
    top: 0;
    border-radius: 20px;
}

header nav ul li .options a
{
    padding: 0;
    -webkit-box-reflect: below 30px linear-gradient(transparent, #0000);
}

header nav ul li .options a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 0;
    border-left:0;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s;
}

header nav ul li .options a::after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 80px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 0;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s;

}

header nav ul li .options a:hover::before
{
    width: 94%;
    height: 97%;
}

header nav ul li .options a:hover::after
{
    width: 94%;
    height: 97%;
}

header nav ul li .options.active
{
    opacity: 1;
    top: 90px;
    right: 100px;
    width: 600px;
    height: 200px;
    display: block;
    z-index: 10;
}

header nav ul li .options ul
{
    height: 100%;
    width: 0%;
    left: 0px;
    top: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

header nav ul li .options.active ul
{
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

header nav ul li .options.active ul li
{
    color: white;
    position: relative;
    top: 10px;
    width: 100%;    
}

header nav ul li .options.active ul li a
{
    font-family: var(--silk_font);
}


/* Estilos do Subtitulo*/

header h2
{
    color: white;
    position: absolute;
    right: 600px;
    top: 120px;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-family: var(--Exo2);
    color: rgb(0, 177, 177);
    transition: 1s;
}

header h2 .bit
{
    font-family: var(--silk_font);
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 4px;
    color: white;
}



header h2 .future
{
    color: gold;
    font-weight: 400;
    font-size: 1.3em;
    font-weight: 900;
    columns: 2;
}
header h2 .future:nth-child(3)
{
    position: relative;
    
}

header.sticky h2
{
    top: 20px;   
}
/* Começo do Estilo do MAIN */

main
{
    min-height: 100vh; 
    position: relative;
    display: block;
    /* scroll-snap-type: y mandatory; */
    /* overflow: auto; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    top: 200px;
    background: linear-gradient(to bottom, white, #7da3e8, #7da3e8);
}

/*Estilo Geral das seções*/
main section
{
    min-height: 100vh;
    position: relative;
    display: block;
    /* scroll-snap-align: start; */
    /* background-blend-mode: multiply; */
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    border-radius: 10px;
    margin: 10px 0;
    /* background: #7da3e8; */
}

main section span.space
{
    display: block;
    height: 100px;
}

main #home .sect
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #333;
    z-index: 20;
    transition: 1s;
}

main #home .sect.hidden
{
    top: -100vh;

}
main #home .sect .sec
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
main #home .sect .sec.sec1
{
    background: linear-gradient(135deg, #7da3e8, rgb(0, 187, 187));
    filter: hue-rotate(180deg);
    clip-path: circle(300px at 0 0);
}
main #home .sect .sec.sec2
{
    background: linear-gradient(-135deg, #7da3e8, rgb(0, 187, 187));
    clip-path: circle(200px at 100% 100%);
}
main #home .sect h2
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: #fff;
    font-size: 10em;
    text-align: center;
}
main #home .sect .sec.sec1 h2
{
    color: transparent;
    -webkit-text-stroke: 2.5px #333;
}
main #home .sect .sec.sec2 h2
{
    color: #333;
    -webkit-text-stroke: 2.5px #fff;
}
main #home .box
{
    position: relative;
    height: 400px;
    transform-style: preserve-3d;
    animation: roda 16s linear infinite;
    margin-top: 145vh;
    cursor: pointer;
}

@keyframes roda
{
    0%
    {
        transform: rotateX(-20deg) rotateY(360deg);
    }
    100%
    {
        transform: rotateX(-20deg) rotateY(0deg);
    }
}

main #home .box div
{
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
}

main #home .box div.block span
{
    position: absolute;
    width: 400px;
    height: 200px;
    background: #444;
    left: calc(50% - 200px);
    transform: rotateY(calc(90deg * var(--i))) translateZ(200px);
    transition: 0.5s;
}

main #home .box:hover div.block span
{
    background: rgb(0, 187, 187);
    /* box-shadow: 0 0 20px rgb(101, 25, 172),
                0 0 40px rgba(101, 25, 172, 0.75),
                0 0 60px rgb(101, 25, 172, 0.5),
                0 0 100px rgb(101, 25, 172, 0.25); */
    filter: drop-shadow(0 0 50px rgb(0, 187, 187));
}


main #home .box div.text a
{
    position: absolute;
    width: 350px;
    height: 200px;
    display: flex;
    left: -200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* left: calc(50% - 100px); */
    transform: rotateY(calc(90deg * var(--i))) translateZ(250px);
    transition: 0.5s;
    color: white;
    text-decoration: none;
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 1em;
    /* -webkit-text-stroke: 3px black; */
    transform-style: preserve-3d;
    text-shadow: 0 0 20px white;
}


main #home .box div.text a::before
{
    content: attr(data-text);
    position: absolute;
    bottom: 7px;
    transform-origin: bottom;
    transform: rotateX(-90deg);
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 0px black;
    filter: blur(5px);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0);

}

main #home .box div.text a::after
{
    content: '';
    position: absolute;
    width: 610px;
    height: 120px;
    top: 200px;
    transform: rotateX(-90deg);
    background: #444;
    transition: 0.5s;
}

main #home .box:hover div.text a::after
{
    background: rgb(0, 187, 187);
    filter: drop-shadow(0 0 50px rgb(0, 187, 187));
}

main section:nth-child(1)
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section article
{
    min-height: 100vh;
    width: 95%;
    filter: blur(1);
    display: block;
    
}

main section article h2
{
    margin: 40px;
    font-weight: 900;
    font-family: var(--silk_font);
}

main section article:nth-child(1)
{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

main section article:nth-child(4)
{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


main section article p
{
    position: relative;
    margin: 20px;
    padding: 10px;
    text-align: justify;
    letter-spacing: 2px;
    /* border: 2px solid white; */
    background: rgba(255, 255, 255, 0.199);
    border-radius: 20px;
    text-indent: 50px;
    line-height: 20px;
}

span.impor
{
    font-weight: 900;
}

main section article .container
{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

main section article .container.images img
{
    margin: 0 100px;
}

main section article .container img
{
    position: relative;
    /* right: -90px; */
    width: 430px;
}

main section article .container p
{
    width: 50%;
    height: 100%;
}
/*carrossel-console*/
.mySlides {
    display: none;
    border-radius: 10px;
    overflow: hidden;
  }
  img {
    vertical-align: middle;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #777;
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  
  .ativo, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  

/*termina*/

/* timeline evolução */

@media (min-width: 1000px) {
    #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
   }
    #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        background-color: lightskyblue;
        border-radius: 9px;
        box-shadow: 0px 0px 2px 5px #4b94be;
   }
}
/* Some Cool Stuff */
.demo-card:nth-child(1) {
    order: 1;
}
.demo-card:nth-child(2) {
    order: 5;
}
.demo-card:nth-child(3) {
    order: 2;
}
.demo-card:nth-child(4) {
    order: 6;
}
.demo-card:nth-child(5) {
    order: 3;
}
.demo-card:nth-child(6) {
    order: 7;
}
.demo-card:nth-child(7) {
    order: 4;
}



#timeline {
    padding: 80px 0;
}
#timeline h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
}
h3.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
    font-size: 25px;
    font-family: var(--Exo2);
}
#timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
}
@media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
        display: flex;
        flex-flow: column wrap;
        width: 1170px;
        height: 1800px;
        margin: 0 auto;
   }
}
#timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
        border-left: 2px solid #bdbdbd;
   }
}
#timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
}
@media (min-width: 480px) {
    #timeline .demo-card {
        max-width: 60%;
        box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
   }
}
@media (min-width: 720px) {
    #timeline .demo-card {
        max-width: 40%;
   }
}
@media (min-width: 1000px) {
    #timeline .demo-card {
        max-width: 450px;
        height: 350px;
        margin: 90px;
        margin-top: 50px;
        margin-bottom: 45px;
   }
    #timeline .demo-card:nth-child(odd) {
        margin-right: 45px;
   }
    #timeline .demo-card:nth-child(odd) .head::after {
        border-left-width: 15px;
        border-left-style: solid;
        left: 100%;
   }
    #timeline .demo-card:nth-child(odd) .head::before {
        left: 491.5px;
   }
    #timeline .demo-card:nth-child(even) {
        margin-left: 45px;
   }
    #timeline .demo-card:nth-child(even) .head::after {
        border-right-width: 15px;
        border-right-style: solid;
        right: 100%;
   }
    #timeline .demo-card:nth-child(even) .head::before {
        right: 489.5px;
   }
    #timeline .demo-card:nth-child(2) {
        margin-top: 180px;
   }
}
#timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
}
#timeline .demo-card .head .number-box {
    display: inline;
    float: left;
    margin: 15px;
    padding: 10px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: inherit;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 6px;
    line-height: 1rem;
}
@media (min-width: 480px) {
    #timeline .demo-card .head h2 {
        font-size: 130%;
        line-height: 1.2rem;
   }
}
#timeline .demo-card .head h2 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
}
@media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
        font-size: 0.8rem;
   }
}
#timeline .demo-card .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 10px;
}
@media (min-width: 1000px) {
    #timeline .demo-card .body {
        height: 300px;
        background-color: white;
   }
}
#timeline .demo-card .body p {
    font-size: 18px;
    line-height: 10px;
    margin-bottom: 10px;
    color: white;
}
#timeline .demo-card .body img {
    display: block;
    width: 100%;
}
#timeline .demo-card--step1 {
    background-color: #AE9E7C;
}
#timeline .demo-card--step1 .head::after {
    border-color: #AE9E7C;
}
#timeline .demo-card--step2 {
    background-color: #5C564A;
}
#timeline .demo-card--step2 .head::after {
    border-color: #5C564A;
}
#timeline .demo-card--step3 {
    background-color: #E6AF90;
}
#timeline .demo-card--step3 .head::after {
    border-color: #E6AF90;
}
#timeline .demo-card--step4 {
    background-color: #EDB0AF;
}
#timeline .demo-card--step4 .head::after {
    border-color: #EDB0AF;
}
#timeline .demo-card--step5 {
    background-color: #E0C463;
}
#timeline .demo-card--step5 .head::after {
    border-color: #E0C463;
}
#timeline .demo-card--step6 {
    background-color: #A57A83;
}
#timeline .demo-card--step6 .head::after {
    border-color: #A57A83;
}
#timeline .demo-card--step7 {
    background-color: #A5BDA5;
}
#timeline .demo-card--step7 .head::after {
    border-color: #A5BDA5;
}
/* termina a timeline */

/* começa o antes e depois */


  div#comparison { 
    width: 700px;
    height: 466px;
    /* max-width: 1000px;
    max-height: 570px; */
    max-width: 1000px;
    max-height: 500px;
    overflow: hidden;
   }
  div#comparison figure { 
    background-image: url(../IMGS/img-BA/Resident_evil.jpeg); 
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%; 
    height: 100%;
    margin: 0; 
  }
  div#comparison figure > img { 
    position: relative;
    width: 100%;
  }
  div#comparison figure div { 
    background-image: url(../IMGS/img-BA/Resident_remake.jpeg);
    background-size: cover;
    position: absolute;
    width: 50%; 
    box-shadow: 0 5px 20px 2px rgba(0,0,0,0.3);
    overflow: hidden;
    bottom: 0;
    height: 100%;
  }
  
  input[type=range]{
    /* -webkit-appearance:none;
    -moz-appearance:none; */
    appearance: none;
    position: relative;
    top: -55%; left: -1%;
    background-color: rgba(255,255,255,0);
    width: 102%; 
  }
  input[type=range]:focus { 
    outline: none; 
  }
  input[type=range]:active { 
    outline: none;  
  }
  /* firefox */
  input[type=range]::-moz-range-track { 
    -moz-appearance:none;
      height:15px;
      width: 98%;
      background-color: rgba(255,255,255,0.1); 
      position: relative;
      outline: none;    
   }
  input[type=range]::active { 
    border: none; 
    outline: none;
  }
  input[type=range]::-webkit-slider-thumb {
      -webkit-appearance:none;
      width: 50px; height: 50px;   
      background: url(../IMGS/img-BA/seta-s.png), rgba(255, 255, 255, 0.61);
      border-radius: 50%;
      z-index: 10;
      background-size: cover;
      filter: blur(1);
     }

/* termina */
/* carrossel e-sports */

/* termina o casrrossel */

/*Estilo do Footer*/
footer
{
    min-height: 120vh;
    position: relative;
    color: white;
    background: #222;
    bottom: 0;
    margin-top: 200px;
    display: grid;
    grid-template-rows: 100px 1fr;    

}

footer form
{
    min-height: 80%;
    width: 90%;
    background: rgb(22, 22, 22);
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    display: block;
}

footer form input,
footer form textarea
{
    resize: none;
    display: block;
    border-radius: 10px;
}

footer form input[type="text"],
footer form input[type="email"],
footer form textarea
{
    margin: 30px 60px;
    border: none;
    outline: none;
    padding: 20px;
    width: 700px;
    font-size: 1.5em;
    background: rgb(32, 32, 32);
    color: cyan;
    font-family: var(--silk_font);
    /* border-bottom: 3px solid cyan; */
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.493);
}

form input[type="submit"]
{
    border: none;
    outline: none;
    position: relative;
    font-family: var(--silk_font);
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.493);
    font-size: 1.5em;
    text-align: center;
    background: rgb(32, 32, 32);
    color: cyan;
    transition: 1s;
    z-index: 1;
    cursor: pointer;
    padding: 30px;
    margin: 0 60px;
    display: inline-block;
    /* -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);*/
}

form input[type="submit"]:hover
{
    background: #21ebff;
    color: black;
    box-shadow: 0 0 10px #21ebff,
                0 0 20px #21ebff,
                0 0 40px #21ebff,
                0 0 50px #21ebff;
    
}

footer form textarea
{
    height: 300px;
}

footer form input::placeholder
{
    color: rgba(0, 255, 255, 0.5);
    font-family: var(--silk_font);
}

footer p
{
    font-size: 1.5em;
    font-family: var(--poppins);
    margin: 30px;
    text-align: center;
}

